* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --cor-primaria: #8a71c9;
   --cor-secundaria: #2a0074;
   --cor-destaque: #ff6cb5;
   --cor-fundo: #ffffff;
   --cor-texto: #000000;
   --font-size-base: 62.5%;
}

html {
   font-size: var(--font-size-base);
   font-family: Open Sans, sans-serif;
}

body {
   text-align: center;
   font-size: 1.5rem;
   background-color: var(--cor-primaria);
   color: #ffffff;
}

header {
   width: 100%;
   height: 100px;
   position: fixed;
   top: 0;
   z-index: 1000;
   background-color: #8d57ea;
   box-shadow: 0 2px 10px #00000055;
   text-align: center;
   line-height: 100px;
}

.card {
   width: 100%;
   height: 100%;
}

h1 {
   font-size: 4rem;
   font-style: italic;
   font-weight: 600;
   text-align: center;
}

h2 {
   color: #2a0074;
   font-size: 4rem;
   margin-bottom: 20px;
   text-align: center;
}

.titulo-verde {
   color: #04ff9f;
   font-size: 3.2rem;
   font-style: italic;
   margin-bottom: 10px;
}

.titulo-vermelho {
   color: #FF9E9E;
   font-size: 3.2rem;
   font-style: italic;
   margin-bottom: 10px;
}

.titulo-amarelo {
   color: #ffe36d;
   font-size: 3.2rem;
   font-style: italic;
   margin-bottom: 10px;
}

main {
   width: 80%;
   margin: 0 auto;
   /* margin-top: 100px; */
}

section {
   height: auto;
   margin: 10px 0;
   padding: 30px 20px;
   background: #ffffff1a;
   border-radius: 10px;
   line-height: 2rem;

   scroll-margin-top: 100px;
   /* impede que o conteúdo fique atrás do header */
}

.imagem {
   width: 330px;
   float: left;
   margin: 0;
   padding: 10px;
}

img {
   width: 300px;
   object-fit: cover;
   border-radius: 10px;
   box-shadow: 0 2px 10px #00000055;
   object-fit: cover;
   border-radius: 10px;
   margin-top: 10px;
   border: 1px solid #ffffff55;
}

.texto {
   float: rigth;
   margin: 0;
   padding: 15px;
}

p {
   font-size: 1.6rem;
   line-height: 1.6;
   text-align: justify;
}

.principal {
   margin-top: 160px;
}

.principal ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 40px;
   padding: 20px;
   background-color: #ff6cb5;
   height: 45px;
   max-width: 80%;
   margin: 0 auto;
   border-radius: 10px;
   position: fixed;
   top: 105px;
   left: 0;
   right: 0;
   z-index: 1000;
   list-style-type: none;
}


.principal a {
   color: #ffffff;
   font-weight: normal;
   text-decoration: none;
   text-transform: uppercase;
}

.principal a:hover {
   color: #2a0074;
   font-weight: bolder;
   transition: 0.3s;
   text-decoration: underline;
}

.link-externo ul {
   list-style-type: none;
   line-height: 2;
   padding-left: 0;
}

.link-externo a {
   text-decoration: none;
   color: #99ffff;
   font-weight: 700;
}

.link-externo a:hover {
   text-decoration: underline;
   color: #2a0074;
   font-weight: bolder;
   transition: 0.3s;
   cursor: pointer;
}

.contato {
   border: 1px solid #ffffff55;
   border-radius: 5px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   text-align: left;
}

input {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
}

input:focus {
   outline: none;
   border-color: #2a0074;
   box-shadow: 0 0 5px #2a0074;
}

input::placeholder {
   color: #2a0074;
   font-style: italic;
}

button {
   background: #0bba0b;
   border: 1px solid transparent;
   padding: 10px 20px;
   border-radius: 5px;
   color: #fff;
   font-weight: bolder;
   cursor: pointer;
}

button:hover {
   background: #2a0074;
}

footer {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   font-size: 1.6rem;
   font-style: italic;
   border-top: 1px solid #2a0074;
   padding: 20px;
}

footer a {
   color: #2a0074;
   text-decoration: none;
   font-weight: bolder;
}

footer a:hover {
   text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 543px) {
      main {
      width: 95%;
   }

   header {
      width: 100%;
      height: 80px;
      text-align: center;
   }
   h1 {
      font-size: 2.3rem;
      text-align: center;
      line-height: 25px;
      padding: 20px 0;

   }

   h2 {
      font-size: 2rem;
      margin-bottom: 5px;
   }

   h3 {
      font-size: 1.5rem;
   }

   h4 {
      font-size: 1.8rem;
   }

   p {
      font-size: 1.4rem;
   }
   .titulo-amarelo, .titulo-verde, .titulo-vermelho {
      font-size: 2rem;
   }

   .principal ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      max-width: 100%;
      margin-top: 10px;
      padding: 20;
      gap: 2px;
   }

   .principal li {
      background-color: #ff6cb5;
      border-radius: 20px;
      padding: 10px 100px;
      border-radius: 20px;
      width: 100%;
      max-width: 100%;
      font-size: 1rem;
      }
   
   .container {
      margin-top: 200px;
   }

   section {
      scroll-margin-top: 200px;
      padding: 20px 10px;
   }


   .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center
   }

   .imagem {
      width: 100%;
      padding: 0;
   }

   .texto {
      width: 100%;
      padding: 0;
      margin-top: 5px;
   }


   img {
      width: 100%;
   }
   .contato {
      margin: 5px;
   }
   footer {
      font-size: 1.4rem;
   }
}

@media (min-width: 543px) and (max-width: 768px) {

   main {
      width: 95%;
      letter-spacing: 1px;
   }

   header {
      width: 100%;
      height: 100px;
      text-align: center;
      
   }

   h1 {
      font-size: 2.6rem;
      width: 100%;
      padding:  0;
   }

   h2 {
      font-size: 2.5rem;

   }

   p {
      font-size: 1.6rem
   }
   .titulo-amarelo, .titulo-verde, .titulo-vermelho {
      font-size: 2.3rem;
   }

    .principal ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      max-width: 100%;
   } 

   .principal li {
      border-radius: 20px;
      width: 95%;
      max-width: 100%;
      font-size: 1rem;
      border-radius: 20px;
      font-size: 1.5rem;
   }


   section {
      scroll-margin-top: 150px;
   }

   footer {
      font-size: 1.6rem;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   main {
      width: 95%;
   }

   header {
      width: 100%;
      height: 100px;
      text-align: center;
   }

   h1 {
      font-size: 3.5rem;
   }

   h2 {
      font-size: 3rem;
   }

   p {
      font-size: 1.6rem;
   }

   .titulo-amarelo, .titulo-verde, .titulo-vermelho {
      font-size: 2.8rem;
   }

   .principal ul,li {
      width: 95%;
      max-width: 100%;
   }

   footer {
      font-size: 1.6rem;
   }
}